{
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-svelte"],
    "overrides": [
      {
        "files": "*.svelte",
        "options": {
          "parser": "svelte",
          "svelteSortOrder": "scripts-markup-styles-options",
          "svelteStrictMode": false,
          "svelteBracketNewLine": true,
          "svelteAllowShorthand": true
        }
      },
      {
        "files": "*.js",
        "options": {
          "parser": "babel"
        }
      }
    ]
  }
  